<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" src="images/domFavicon.png">
    <link rel="stylesheet" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
    <title>Dom's weatherapp</title>
</head>
<body>
    <div class="centered">
        <div class="container">
            <h2 class="centered heading">Dom's weather app</h2>
            <div class="day-or-night">
                <img class="background" src="">
            </div>
            <div class="weather-conditions-container">
                <img class="weather-icon" src="">
                <div class="conditions"></div>
                <div class="temperature"></div>
            </div>
            <div class="city-input-container centered">
                <input type="text" id="city-input" name="city-input" placeholder="City">
            </div>
            <div class="city-input-container centered">
                <button class="centered" id="startButton">Check weather</button>
            </div>
        </div>
    </div>
    <script src="./app.js"></script>
</body>
</html>